<div>
    <h2>Olá, {{user}}</h2>
    <br>
    <div>
        <p>A consulta com o {{specialty}} Dr {{medic}} foi realizada com sucesso!</p>
        <p>A consulta ocorreu no dia {{date}} às {{hour}}.
    </div>
    <p>Att, ClínicaDoc</p>
</div>